name: Publish Release

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write  # Required to create GitHub releases

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-05-17

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "shared"
          save-if: "false"

      - run: cargo build --release

      - name: Determine if prerelease
        id: prerelease
        run: |
          echo "GITHUB_REF_NAME=${GITHUB_REF_NAME}"
          echo "GITHUB_BASE_REF=${GITHUB_BASE_REF}"
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            # Check what branch the tag was created from (if available)
            BRANCH=$(git branch -r --contains ${{ github.sha }} | grep origin/beta || true)
            if [[ -n "$BRANCH" ]]; then
              echo "is_prerelease=true" >> $GITHUB_OUTPUT
            else
              echo "is_prerelease=false" >> $GITHUB_OUTPUT
            fi
          fi

      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.ref_name }}
          generate_release_notes: true
          target_commitish: ${{ github.sha }}
          files: target/release/veritas.dll
          make_latest: true
          prerelease: ${{ steps.prerelease.outputs.is_prerelease }}
